/*//////////////////////////////////////////////////////////////////////////////
///                                MyHomePage                                ///
//============================================================================//
//        Author: Marcin Żemlok
//         Email: marcinzemlok@gmail.com
//       Version: 0.3
//
//   Description: MyHomePage functionality.
//
// Creation date: 20/02/2020
================================= CHANGE LOG ===================================
// [20/02/2020]        Marcin Żemlok
        Initial work.                                                        ///
// [03/04/2020]        Marcin Żemlok
        * Added force reload button.
        * Added circular link box.                                           ///
//////////////////////////////////////////////////////////////////////////////*/
*, *::before, *::after {
  margin: 0;
  padding: 0;

  color: rgb(230, 230, 230);
  text-decoration: none;
}

html,
body {
  height: 100%;

  position: relative;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: gray;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

body::before {
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  content: "";
  background-color: rgba(0, 0, 0, 0.7);
}

/* CONTROLL */
.controll {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 2rem;
  z-index: 1;
}

.controll button {
  width: 28px;
  display: block;

  background-color: #00000000;
  border: none;

  cursor: pointer;
  font-size: 1.5rem;
}

/* MAIN CONTENT */

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
}

.main:hover {
  cursor: default;
}

.main p {
  margin-top: 5%;
  display: block;
  font-size: 0.9rem;
  position: relative;
  white-space: normal;
}

.main p:last-child {
  font-size: 0.7rem;
  text-align: right;
}

/* CLOCK */

.clock,
.seconds,
.day,
.date {
  display: inline-block;
  position: relative;

  user-select: none;
}

.clock,
.day {
  font-size: 2rem;
}

.date {
  display: block;
  font-size: 4rem;
  white-space: normal;
}

/* LINKS */

.links {
  height: 100%;
  width: 100%;
  position: absolute;

  cursor: pointer;
}

.hexagon {
  position: absolute;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 57px;
  background-color: rgba(255, 255, 255, .25);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28px solid rgba(255, 255, 255, .25);
}

.hexagon:after {
  top: 100%;
  border-top: 28px solid rgba(255, 255, 255, .25);
}

.hexagon, .link-text {
  color: black;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, .5), 1px -1px 0 rgba(255, 255, 255, .5), -1px 1px 0 rgba(255, 255, 255, .5), 1px 1px 0 rgba(255, 255, 255, .5);
  font-size: medium;
  font-weight: bold;
}

/* GOOGLE STYLES */

/* .gb_f {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 13px;
  margin: 8px 2px;
  text-align: center;
  outline: none;
}

.gb_w {
  float: left;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #4273db;
}

.gb_w,
.gb_x {
  position: relative;
  top: 27px;
  visibility: hidden;
}

.gb_x {
  float: right;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #4273db;
}

.gb_y {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #4273db;
}

.gb_y,
.gb_z {
  left: 37px;
  visibility: hidden;
}

.gb_z {
  position: absolute;
  top: 59px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4273db;
}

.gb_f .gb_r {
  background-image: url(https://ssl.gstatic.com/gb/images/p1_6234ef59.png);
  -webkit-background-size: 64px 2686px;
  background-size: 64px 2686px;
}
.gb_f .gb_r,
.gb_f .gb_d {
  display: inline-block;
  vertical-align: top;
  height: 64px;
  width: 64px;
}

.gb_t {
  display: block;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  width: 84px;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.87);
} */
